@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*, *::after, *::before{
	box-sizing: border-box;
}

body{
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

.bold{
	font-family: 'Bebas Neue', cursive;
}

#intro{
	height:100vh;
	background: linear-gradient(90deg, #234600, #0f1f00);
	color: white;
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	column-gap: 50px;
	flex-wrap: wrap-reverse;
	align-content: center;
}

#intro img{
	position: relative;
	top: 0;
	animation: float_up 2s ease;
}

#intro h1{
	font-size:90px;
	margin: 0;
}
#intro h2{
	font-size:58px;
	margin: 0;
}
#navbar{
	position:fixed;
	top:0;
	left:0;
	height:50px;
	font-size:20px;
	display: flex;
	align-items: center;
	width: 100vw;
	background-color: #0f1f00;
	padding: 0 40px;
	justify-content: space-evenly;
	border-bottom:1px solid white;
}
#navbar a{
	color: white;
	text-decoration: none;
	transition:0.2s;
}
#navbar a:hover{
	transform:scale(1.25);
}

@keyframes float_up{
	from{
		position: relative;
		top: 50px;
		opacity: 0;
	}
	to{
		top: 0px;
		opacity: 1;
	}
}
section{
	padding:30px;
}

section h1.bold{
	text-align: center;
	font-size:60px;
}
#aboutme{
	font-size:18px;
	background-color: rgb(211, 239, 255);
}
#aboutme a{
	text-align: center;
	display:block;
	margin: auto;
	font-size: 24px;
	text-decoration: none;
	color: black;
	transition: 0.2s;
}
#aboutme a:hover{
	font-size:28px;
}
#aboutme p{
	text-align: center;
}
.project{
	margin: 40px auto;
	border: 2px solid gray;
	width:fit-content;
	width:-moz-fit-content;
	padding: 20px;
	width:50vw;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
	border-radius:8px;
	background-color: rgb(233, 230, 230);
}
.project a{
	color: black;
	text-decoration: none;
	transition: 0.2s;
}
.project a:hover{
	transform:scale(1.25);
}
.project p{
	margin: 0;
}
.project img{
	max-height:500px;
}
#projects > a{
	color: black;
	font-size: 24px;
	text-decoration: none;
	text-align: center;
	width:100%;
	display: block;
}
#projects > a:hover{
	text-decoration: underline;
}
#myskills{
	background-color: rgb(0, 28, 88);
	color: white;
}
.skill{
	margin: 20px 0px;
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 20px;
	width:25vw;
}
#myskills{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

table {
  border-collapse: collapse;
  width: 50vw;
  margin: auto;
  text-align: center;
  font-size:18px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
table a{
	color: black;
	text-decoration: none;
}